.container {
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f5f8fa;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    margin: 20px;
}

.heading {
    font-size: 26px;
    color: #2c3e50;
    margin-bottom: 25px;
    font-weight: bold;
}

.searchBar {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.loader {
    font-size: 18px;
    color: #3498db;
    text-align: center;
    padding: 20px;
}

.error {
    color: #e74c3c;
    font-size: 18px;
    padding: 10px;
    background-color: #f9ebea;
    border: 1px solid #e0b4b4;
    border-radius: 8px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

.genreList {
    list-style-type: none;
    padding: 0;
}

.genreCard {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
}

.genreName {
    font-size: 18px;
    color: #34495e;
    font-weight: 500;
}

.selected {
    margin-top: 20px;
    font-size: 16px;
    color: #34495e;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 8px;
}

.submitButton {
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.removeButton {
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}